<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>Add Contact</title>
  </head>
  <body>
    <div id="content">
      <!-- sidebar -->

      <!-- user is logged in : sidebar -->

      <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar :: sidebar}"></div>
      </div>

      <div class="sm:pl-64 pt-20" style="height: 1000px">
        <div class="grid grid-cols-12">
          <div class="col-span-3"></div>
          <div class="col-span-12 md:col-span-6">
            <div
              class="card block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
            >
              <div data-th-replace="message::messagebox"></div>

              <h1 class="text-2xl font-semibold">Add New Contact</h1>
              <p class="text-gray-500">
                This contact will be stored on cloud, you can direct email this
                client from scm...
              </p>

               <form
                action=""
                class="mt-8"
                data-th-action="@{'/user/contacts/add'}"
                data-th-object="${contactForm}"
                method="post"
                enctype="multipart/form-data"
              >
              
                      
              </form>  
            </div>
          </div>
        </div>
      </div>
    </div>

    <script data-th-src="@{'/js/admin.js'}"></script>
    <script>
      console.log("this is profile page");
    </script>
  </body>
</html>