<!DOCTYPE html>
<html lang="en" th:fragment="parent(content,title)" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">Document</title>
    <link rel="stylesheet" th:href="@{'/css/output.css'}" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>

    <ul>
        <li>
            <a th:href="@{/about}">About</a>
        </li>
        <li>
            <a th:href="@{/}">Home</a>
        </li>

        <li>
            <a th:href="@{/services}">Services</a>
        </li>
    </ul>

    <!-- Define the fragment with a content parameter -->
    <div class="p-4">
        <!-- Insert the content passed from child templates here -->
        <div th:replace="${content}"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>
