<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#ont})}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <section id="ont">
        <h2>This is Home Page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, vel. Rerum saepe voluptate aliquam consectetur, facere iure cumque! Harum a dolor dolores voluptatem ut sapiente, reiciendis eveniet cumque eos in?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum libero cum doloremque minus quod temporibus suscipit iure omnis dolorem sint facilis, molestiae ducimus soluta voluptates reprehenderit vero natus iste ratione.</p>
    </section>
</body>
</html> 
