<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{'/css/output.css'}" />

    <style>   
      
    </style>
</head>
<body>
        <div class="container  mx-4 my-3 py-2 bg-blend-color-burn  ">
             <h1>  Hello  </h1>  
             <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, sequi! In, sequi ipsum? Quia ad saepe tempore, est, voluptates aliquam quasi neque repudiandae quas perferendis, animi optio at nostrum! Fugiat.</p>
              
            </div>
</body>
</html>