<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#cont},~{::title},~{})}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Services </title>
</head>
<body>
    <section id="cont" class=" mt-20">
        <h2>This is Signup Page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, vel. Rerum saepe voluptate aliquam consectetur, facere iure cumque! Harum a dolor dolores voluptatem ut sapiente, reiciendis eveniet cumque eos in?</p>
    </section>
</body>
</html>